{% extends "layouts/page.njk" %}

{% block pageTitle %}{% if validationErrors %}Error: {% endif %}{{ pageTitle }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    {% if variant === "knownExpired" %}
      <p class="govuk-body">Request a new link to view your quote. We'll send it to the email address you used for the quote.</p>
      <form method="post" action="/quote/{{ reference }}/resend-known" novalidate>
        {% include "partials/csrf-token.njk" %}
        <input type="hidden" name="token" value="{{ token }}" />
        {{ govukButton({ text: "Send me a new link" }) }}
      </form>

    {% elif variant === "unknownExpired" %}
      <form method="post" action="/quote/{{ reference }}/resend-unknown" novalidate>
        {% include "partials/csrf-token.njk" %}
        <input type="hidden" name="token" value="{{ token }}" />

        {% if validationErrors %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: validationErrors.summary
          }) }}
        {% endif %}

        {{ govukInput({
          label: {
            text: "Enter the email address you used for the quote"
          },
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          value: formSubmitData.email,
          errorMessage: validationErrors.messagesByFormField.email
        }) }}

        {{ govukButton({ text: "Send new link" }) }}
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
