{% extends "layouts/email.njk" %}

{% block pageTitle %}{% if validationErrors %}Error: {% endif %}{{ pageTitle }}{% endblock %}

{% block beforeContent %}
  {{ backLink({href: backLinkPath}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <form method="post" novalidate>
          {% include "partials/csrf-token.njk" %}
            {% if validationErrors %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList:  validationErrors.summary
            }) }}
            {% endif %}

            {{ govukInput({
                id: "enter-your-one-login-email-address",
                name: "enterYourOneLoginEmailAddress",
                label: {
                    text: pageHeading,
                    classes: "govuk-label--l",
                    isPageHeading: true
                },
                value: requestToUse.enterYourOneLoginEmailAddress,
                errorMessage: validationErrors.messagesByFormField.enterYourOneLoginEmailAddress
            }) }}
            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>
{% endblock %}
