<div class="analytics-disabled-banner" data-testid="analytics-disabled-banner">
  <p class="govuk-body analytics-disabled-banner__text">Analytics and audit events are disabled (<a href="/analytics-internal">change these settings</a>)</p>
</div>
