<div style="background:#D2E2F1;padding:8px 15px 8px 15px" data-testid="analytics-disabled-banner">
  <p class="govuk-body" style="margin-bottom:0">Analytics and audit events are disabled (<a href="/analytics-internal">change these settings</a>)</p>
</div>
