{% extends "layouts/page.njk" %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block beforeContent %}
  {{ backLink({href: backLinkPath}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
        <form method="post" novalidate>
          {% include "partials/csrf-token.njk" %}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Submit"
            }) }}
            {{ govukButton({
              text: "Delete",
              classes: "govuk-button--warning",
              href: '/quote/delete-quote'
            }) }}
          </div>

        </form>
    </div>
</div>
{% endblock %}
