{% extends "layouts/page.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class="govuk-body">This accessibility statement applies to the Manage the nature restoration levy service.</p>

      <p class="govuk-body">This service is run by Natural England. We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>zoom in up to 400% without the text spilling off the screen</li>
        <li>navigate most of the service using just a keyboard</li>
        <li>navigate most of the service using speech recognition software</li>
        <li>listen to most of the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

      <p class="govuk-body">We’ve also made the text as simple as possible to understand.</p>

      <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

      <h2 class="govuk-heading-l">How accessible this service is</h2>

      <p class="govuk-body">This service has not yet had a full accessibility audit. We will list any known accessibility issues on this page as we find and verify them.</p>

      <h2 class="govuk-heading-l">Feedback and contact information</h2>

      <p class="govuk-body">If you find any problems that are not listed on this page, or if you think we’re not meeting accessibility requirements, contact {{ contactDetails.organisation }} using the details below.</p>

      <p class="govuk-body">You can also request information in a different format, such as accessible PDF, large print, easy read, audio recording or braille.</p>

      <p class="govuk-body">
        Email: {{ contactDetails.email }}<br>
        Telephone: {{ contactDetails.telephone }}<br>
        {{ contactDetails.openingHours }}
      </p>

      <p class="govuk-body">
        <a href="{{ contactDetails.callChargesUrl }}" class="govuk-link" target="_blank" rel="noopener noreferrer">Find out about call charges (opens in new tab)</a>
      </p>

      <p class="govuk-body">We’ll consider your request and get back to you within 10 working days.</p>

      <h2 class="govuk-heading-l">Enforcement procedure</h2>

      <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) Accessibility Regulations 2018. If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">Equality Advisory and Support Service (EASS)</a>.</p>

      <h2 class="govuk-heading-l">Technical information about this service’s accessibility</h2>

      <p class="govuk-body">Natural England is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

      <h2 class="govuk-heading-l">Compliance status</h2>

      <p class="govuk-body">This service has not yet been tested against the Web Content Accessibility Guidelines (WCAG) version 2.2 AA standard. We will update this statement once testing has been carried out.</p>

      <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>

      <p class="govuk-body">This statement was prepared on 14 September 2026.</p>
    </div>
  </div>
{% endblock %}
