{% extends "layouts/page.njk" %}

{% block pageTitle %}{% if uploadError or validationErrors %}Error: {% endif %}{{ pageTitle }}{% endblock %}

{% block beforeContent %}
  {{ backLink({href: backLinkPath}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        {% if validationErrors %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: validationErrors.summary
        }) }}
        {% elseif uploadError %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [{
                text: uploadError,
                href: "#file"
            }]
        }) }}
        {% endif %}

        {% if uploadUrl %}
        <form action="{{ uploadUrl }}" method="post" enctype="multipart/form-data" novalidate>

            {{ govukFileUpload({
                name: "file",
                id: "file",
                label: {
                    text: pageHeading,
                    classes: "govuk-label--l",
                    isPageHeading: true
                },
                hint: {
                    html: "<p>Accepted file formats:</p><ul class=\"govuk-list govuk-list--bullet\"><li>GeoJSON (.geojson, .json)</li><li>KML (.kml)</li><li>Zipped Shapefile (.zip)</li></ul>The file must be smaller than 2MB."
                },
                errorMessage: validationErrors.messagesByFormField.file if validationErrors,
                attributes: {
                    accept: ".geojson,.json,.kml,.zip"
                }
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
        {% else %}
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
        <p class="govuk-body">Unable to start file upload. Please try again later.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
