{% extends "layouts/page.njk" %}

{% block pageTitle %}{% if validationErrors %}Error: {% endif %}{{ pageTitle }}{% endblock %}

{% block beforeContent %}
  {{ backLink({href: backLinkPath}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <form method="post" enctype="multipart/form-data" novalidate>
          {% include "partials/csrf-token.njk" %}
            {% if validationErrors %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: validationErrors.summary
            }) }}
            {% endif %}

            {{ govukFileUpload({
                name: "redlineFile",
                label: {
                    text: pageHeading,
                    classes: "govuk-label--l",
                    isPageHeading: true
                },
                hint: {
                    html: "Upload a shapefile (.shp) or GeoJSON file (.geojson).<br>The file must be smaller than 2MB."
                },
                errorMessage: validationErrors.messagesByFormField.redlineFile,
                attributes: {
                    accept: ".shp,.geojson"
                }
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>
{% endblock %}
