{% extends "layouts/page.njk" %}

{% block pageTitle %}{% if uploadError %}Error: {% endif %}{{ pageTitle }}{% endblock %}

{% block beforeContent %}
  {{ backLink({href: backLinkPath}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        {% if uploadError %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [{
                text: uploadError
            }]
        }) }}
        {% endif %}

        <form action="{{ uploadUrl }}" method="post" enctype="multipart/form-data" novalidate>

            {{ govukFileUpload({
                name: "file",
                label: {
                    text: pageHeading,
                    classes: "govuk-label--l",
                    isPageHeading: true
                },
                hint: {
                    html: "<p>Accepted file formats:</p><ul class=\"govuk-list govuk-list--bullet\"><li>GeoJSON (.geojson, .json)</li><li>KML (.kml)</li><li>Shapefile (.shp)</li></ul>The file must be smaller than 2MB."
                },
                attributes: {
                    accept: ".shp,.geojson,.json,.kml"
                }
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>
{% endblock %}
