{% extends "layouts/page.njk" %}

{% block pageTitle %}{% if validationErrors %}Error: {% endif %}{{ pageTitle }}{% endblock %}

{% block beforeContent %}
  {{ backLink({href: backLinkPath}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <form method="post" novalidate>
      {% include "partials/csrf-token.njk" %}

      {% if validationErrors %}
      {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: validationErrors.summary
      }) }}
      {% endif %}

      {% set legendHtml %}<h1 class="govuk-fieldset__heading">{{ pageHeading }}</h1>{% endset %}

      {{ govukRadios({
          name: "isHousing",
          fieldset: {
              legend: {
                  html: legendHtml,
                  classes: "govuk-fieldset__legend--l"
              }
          },
          hint: {
              text: "Housing units are dwellings, this includes houses and flats."
          },
          errorMessage: validationErrors.messagesByFormField.isHousing,
          value: formSubmitData.isHousing,
          items: [
              {
                  value: "yes",
                  text: "Yes"
              },
              {
                  value: "no",
                  text: "No"
              }
          ]
      }) }}

      {{ govukButton({
          text: "Continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
