{% extends "layouts/page.njk" %}

{% block pageTitle %}{% if validationErrors %}Error: {% endif %}{{ pageTitle }}{% endblock %}

{% block beforeContent %}
  {{ backLink({href: backLinkPath}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <form method="post" novalidate>
          {% include "partials/csrf-token.njk" %}
            {% if validationErrors %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList:  validationErrors.summary
            }) }}
            {% endif %}

            <span class="govuk-caption-xl">Register Defra account</span>
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">{{ pageHeading }}</h1>
                </legend>

                {{ govukInput({
                    name: "postcode",
                    label: {
                        text: "Enter your postcode",
                        classes: "govuk-visually-hidden"
                    },
                    hint: {
                        text: "If you cannot find your address or you need to add a non-UK address you can add it manually below."
                    },
                    classes: "govuk-input--width-10",
                    autocomplete: "postal-code",
                    errorMessage: validationErrors.messagesByFormField.postcode,
                    value: requestToUse.postcode
                }) }}
            </fieldset>

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Find address"
                }) }}
                <a class="govuk-link" href="#">Enter the address manually</a>
            </div>

        </form>
    </div>
</div>
{% endblock %}
