{% extends "layouts/page.njk" %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% set mainClasses = "app-main-wrapper app-main-wrapper--draw-boundary" %}

{% block head %}
  {{ super() }}
  <script src="{{ getAssetPath('interactive-map/core/index.js') }}" defer nonce="{{ nonce }}"></script>
  <script src="{{ getAssetPath('interactive-map/maplibre/index.js') }}" defer nonce="{{ nonce }}"></script>
  <script src="{{ getAssetPath('interactive-map/plugins/map-styles/index.js') }}" defer nonce="{{ nonce }}"></script>
  <script src="{{ getAssetPath('interactive-map/plugins/draw-ml/index.js') }}" defer nonce="{{ nonce }}"></script>
  <script src="{{ getAssetPath('interactive-map/plugins/search/index.js') }}" defer nonce="{{ nonce }}"></script>
  <script src="{{ getAssetPath('draw-boundary-map.js') }}" defer nonce="{{ nonce }}"></script>
  <link href="{{ getAssetPath('interactive-map/index.css') }}" rel="stylesheet">
  <link href="{{ getAssetPath('interactive-map/plugins/map-styles/index.css') }}" rel="stylesheet">
  <link href="{{ getAssetPath('interactive-map/plugins/draw-ml/index.css') }}" rel="stylesheet">
  <link href="{{ getAssetPath('interactive-map/plugins/search/index.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="app-draw-boundary">
    <h1 class="govuk-visually-hidden">{{ pageHeading }}</h1>
    <div
      id="draw-boundary-map"
      class="app-draw-boundary__map"
      data-map-style-url="{{ mapStyleUrl }}"
      data-impact-assessor-layers="{{ impactAssessorLayers }}"
      data-boundary-validation-url="{{ boundaryValidationUrl }}"
      data-save-and-continue-url="{{ saveAndContinueUrl }}"
      data-existing-boundary-geojson='{{ existingBoundaryGeojson | safe }}'
      data-existing-boundary-metadata='{{ existingBoundaryMetadata | safe }}'
      data-csrf-token="{{ csrfToken }}"
      data-os-names-url="{{ osNamesUrl }}"
    >
    </div>
  </div>
  <p class="govuk-body govuk-!-margin-top-1">
  <form method="post" novalidate action="/quote/boundary-type">
    {% include "partials/csrf-token.njk" %}
    <input type="hidden" name="boundaryEntryType" value="upload" />
    {{ govukButton({
      text: "Upload a red line boundary file instead",
      classes: "govuk-button--secondary"
    }) }}
  </form>
  </p>
{% endblock %}

{% block govukFooter %}{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock %}
