{% extends "layouts/page.njk" %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% set mainClasses = "app-main-wrapper app-main-wrapper--draw-boundary" %}
{% set hidePhaseBanner = true %}

{% block head %}
  {{ super() }}
  <script src="{{ getAssetPath('draw-boundary-map.js') }}" defer nonce="{{ nonce }}"></script>
  <link href="{{ getAssetPath('interactive-map/index.css') }}" rel="stylesheet">
  <link href="{{ getAssetPath('interactive-map/plugins/datasets/index.css') }}" rel="stylesheet">
  <link href="{{ getAssetPath('interactive-map/plugins/map-styles/index.css') }}" rel="stylesheet">
  <link href="{{ getAssetPath('interactive-map/plugins/search/index.css') }}" rel="stylesheet">
  <link href="{{ getAssetPath('interactive-map/plugins/scale-bar/index.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="app-draw-boundary">
    <h1 class="govuk-visually-hidden">{{ pageHeading }}</h1>
    <div
      id="draw-boundary-map"
      class="app-draw-boundary__map"
      data-map-style-url="{{ mapStyleUrl }}"
      data-impact-assessor-layers="{{ impactAssessorLayers }}"
      data-boundary-validation-url="{{ boundaryValidationUrl }}"
      data-save-and-continue-url="{{ saveAndContinueUrl }}"
      data-back-link-path="{{ backLinkPath }}"
      data-existing-boundary-geojson='{{ existingBoundaryGeojson | safe }}'
      data-existing-boundary-metadata='{{ existingBoundaryMetadata | safe }}'
      data-csrf-token="{{ csrfToken }}"
    >
    </div>
  </div>
{% endblock %}

{% block govukFooter %}{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock %}
