{% extends "layouts/page.njk" %}

{% block pageTitle %}{% if validationErrors %}Error: {% endif %}{{ pageTitle }}{% endblock %}

{% block beforeContent %}
  {{ backLink({href: backLinkPath}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post" novalidate>
            {% include "partials/csrf-token.njk" %}

            {% if validationErrors %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: validationErrors.summary
            }) }}
            {% endif %}

            {{ govukInput({
                label: {
                    text: pageHeading,
                    classes: "govuk-label--l",
                    isPageHeading: true
                },
                hint: {
                    text: "A housing unit is a house or a flat. For variations on existing permissions, use the maximum number you are applying for under the variation application."
                },
                id: "housingUnits",
                name: "housingUnits",
                inputmode: "numeric",
                pattern: "[0-9]*",
                value: formSubmitData.housingUnits,
                errorMessage: validationErrors.messagesByFormField.housingUnits
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>
{% endblock %}
