{% extends "layouts/page.njk" %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block head %}
  {{ super() }}
  <link href="/public/interactive-map/interactive-map.css" rel="stylesheet">
  <script src="/public/interactive-map/core/index.js" defer nonce="{{ nonce }}"></script>
  <script src="/public/interactive-map/maplibre/index.js" defer nonce="{{ nonce }}"></script>
  <script src="{{ getAssetPath('boundary-map.js') }}" defer nonce="{{ nonce }}"></script>
{% endblock %}

{% block beforeContent %}
  {{ backLink({href: backLinkPath}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

        {% if boundaryError %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [{
                text: boundaryError
            }]
        }) }}
        {% else %}
        <p class="govuk-body">
            Your boundary file has been validated successfully.
            {{ featureCount }} feature{{ "s" if featureCount != 1 }} found.
        </p>
        {% endif %}

        <div id="boundary-map" class="govuk-!-margin-bottom-6"
             data-geojson='{{ boundaryGeojson | safe }}'
             data-edp-boundary-geojson='{{ edpBoundaryGeojson | safe }}'
             data-edp-intersection-geojson='{{ edpIntersectionGeojson | safe }}'
             data-map-style-url="{{ mapStyleUrl }}">
            <p class="govuk-body govuk-!-margin-bottom-0">Map view is not available. The boundary data has been validated.</p>
        </div>
        {% if intersectsEdp %}
        <p class="govuk-body">
            Your red line boundary is within {{ intersectingEdps | length }} EDP{{ "s" if intersectingEdps | length != 1 }}:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            {% for edp in intersectingEdps %}
            <li>
              {{ edp.label }}{% if edp.natura2000SiteName %} ({{ edp.natura2000SiteName }}){% endif %}
              {% if edp.overlap_area_ha %}
              <br><span class="govuk-body-s govuk-!-margin-bottom-0">
                Overlap: {{ edp.overlap_area_ha }} ha ({{ edp.overlap_percentage }}% of boundary)
              </span>
              {% endif %}
            </li>
            {% endfor %}
        </ul>

        <form method="post" novalidate>
            {% include "partials/csrf-token.njk" %}

            {{ govukButton({
                text: "Save and continue",
                preventDoubleClick: true
            }) }}
        </form>

        {% else %}

        <h2 class="govuk-heading-m">EDP boundary check</h2>
        {{ govukInsetText({
            text: "There are no EDPs within the red line boundary."
        }) }}

        <form method="post" novalidate>
            {% include "partials/csrf-token.njk" %}

            {{ govukButton({
                text: "Save and continue",
                preventDoubleClick: true
            }) }}
        </form>

        {% endif %}

        <p class="govuk-body">
            <a href="{{ uploadBoundaryPath }}" class="govuk-link">Upload a different red line boundary file</a>
        </p>
        <p class="govuk-body">
            <a href="{{ drawBoundaryPath }}" class="govuk-link">Draw the red line boundary on a map instead</a>
        </p>

    </div>
</div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock %}
