@use "../../../../node_modules/govuk-frontend/dist/govuk/index" as *;

.app-area-indicator-border,
.app-area-indicator-label {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.app-area-indicator-border {
  position: absolute;
  inset: 0;
  border: 8px solid transparent;
  box-sizing: border-box;
}

.app-area-indicator-label {
  @include govuk-font($size: 16, $weight: bold);

  position: absolute;
  bottom: 12px; // 8px border + 4px gap
  left: 50%;
  transform: translateX(-50%);
  color: govuk-colour("black");
  padding: govuk-spacing(1) govuk-spacing(3);
  white-space: nowrap;
}

.app-area-indicator--active {
  .app-area-indicator-border,
  .app-area-indicator-label {
    opacity: 1;
  }
}
