.app-layer-legend-swatch {
  display: inline-block;
  width: govuk-spacing(5);
  height: govuk-spacing(5);
  border: 1px solid currentcolor;
  margin-right: govuk-spacing(2);
  vertical-align: -0.2rem;
}
