{% extends "layouts/page.njk" %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block head %}
  {{ super() }}
  {% if refreshInterval %}
  <meta http-equiv="refresh" content="{{ refreshInterval }}">
  {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

        {% if errorMessage %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [{
                text: errorMessage
            }]
        }) }}

        <p class="govuk-body">
            <a href="/quote/upload-boundary" class="govuk-link">Try uploading another file</a>
        </p>
        <p class="govuk-body">
            <a href="/quote/boundary-type" class="govuk-link">Draw the red line boundary instead</a>
        </p>
        {% endif %}

        {% if isProcessing %}
        <p class="govuk-body">Your file is being processed.</p>
        <p class="govuk-body">This page will automatically refresh.</p>
        <p class="govuk-body">
            <strong>Status:</strong> {{ status }}
        </p>
        {% else %}
        <p class="govuk-body">
            <strong>Status:</strong> {{ status }}
        </p>
        {% endif %}

    </div>
</div>
{% endblock %}
