{% extends "layouts/page.njk" %}
{% from "loading-spinner/macro.njk" import appLoadingSpinner %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block head %}
  {{ super() }}
  {% if refreshInterval %}
  <meta http-equiv="refresh" content="{{ refreshInterval }}">
  {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column">
        {% if isProcessing %}
          {{ appLoadingSpinner({ caption: pageHeading}) }}
        {% else %}
          <p class="govuk-body">
            <a href="/quote/upload-boundary" class="govuk-link">Try uploading another file</a>
          </p>
        {% endif %}

    </div>
</div>
{% endblock %}
