<div class="hods-loading-spinner" role="status">
  <div class="hods-loading-spinner__spinner"></div>
  <div class="hods-loading-spinner__content">
    <h1 class="govuk-heading-l">
      {{ params.caption }}
    </h1>
    <p class="govuk-body">This may take a few seconds.</p>
  </div>
</div>
