{% extends "layouts/page.njk" %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

        {{ govukButton({
            text: "Start now",
            href: "#",
            isStartButton: true
        }) }}

    </div>
</div>
{% endblock %}
